DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

S3_BUCKET_NAME=
S3_REGION=eu-west-2

SQS_QUEUE_URL=
REDACTION_SQS_QUEUE_URL=

AUTH_ALLOWED_EMAIL_DOMAINS=justice.gov.uk
AUTH_VERIFICATION_TOKEN_TTL_MINUTES=30
AUTH_VERIFICATION_COOKIE_NAME=justice_redact_email_verification

AUTH_SESSION_TTL_DAYS=7
AUTH_SESSION_COOKIE_NAME=justice_redact_session

AUTH_COOKIE_SECURE=true
AUTH_COOKIE_SAMESITE=lax

NOTIFY_API_KEY=
NOTIFY_VERIFICATION_TEMPLATE_ID=

AUTH_FRONTEND_BASE_URL=http://localhost:3000